@using ISBD_project.Resources
@model ISBD_project.Models.Language

@{
    ViewBag.Title = "Details";
}

<h2>@Shared.Details</h2>

<div>
    <h4>@Shared.Languages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="col-md-2 control-label">@Shared.Language</dt>

        <dd>
            @Html.DisplayFor(model => model.nameL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Shared.Edit, "Edit", new { id = Model.idL }) |
    @Html.ActionLink(Shared.Back, "Index")
</p>
