@using ISBD_project.Resources
@model IEnumerable<ISBD_project.Models.Language>

@{
    ViewBag.Title = "Index";
}

<h2>@Shared.Languages</h2>

<p>
    @Html.ActionLink(@Shared.Create, "Create")
</p>
<table class="table">
    <tr>
        <th>
           @Html.ActionLink(@Shared.Language, "Index", new { sortBy = ViewBag.SortLangParam })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="col-md-2 control-label">@Html.DisplayFor(modelItem => item.nameL)</td>
        <td>
            @Html.ActionLink(Shared.Edit, "Edit", new { id=item.idL }) |
            @Html.ActionLink(Shared.Details, "Details", new { id=item.idL }) |
            @Html.ActionLink(Shared.Delete, "Delete", new { id=item.idL })
        </td>
    </tr>
}

</table>
