@using ISBD_project.Resources
@using ISBD_project.Session
@if (Request.Cookies.Get(Strings.IsLogged) != null)
{
    
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink(Shared.Hello + Request.Cookies.Get(Strings.Name)?.Value + "!", "Details", "Accounts",routeValues: new { id = int.Parse(Request.Cookies.Get(Strings.AccountId).Value) }, htmlAttributes: null)
    </li>
    <li class="dropdown">@Html.Partial("_WebLanguage")</li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">@Shared.Logout</a></li>
</ul>
    }
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Shared.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Shared.Login, "Index", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li class="dropdown">@Html.Partial("_WebLanguage")</li>
    </ul>
}
