@using ISBD_project.Resources
@using ISBD_project.Session
@if (SessionMocker.IsSessionActive())
{
    
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink(Shared.Hello + SessionMocker.Instance.LoggedUser.Account.loginA + "!", "Details", "Accounts", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li class="dropdown">@Html.Partial("_WebLanguage")</li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">@Shared.Logout</a></li>
</ul>
    }
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Shared.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Shared.Login, "Index", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li class="dropdown">@Html.Partial("_WebLanguage")</li>
    </ul>
}
