@using ISBD_project.Resources
@{
    ViewBag.Title = Shared.About;
}
<h2>@ViewBag.Title</h2>

<p>@Shared.AdditionalInfo</p>
<p>@Shared.AdditionalInfov2</p>
<p>@Shared.AdditionalInfov3</p>
<p>@Shared.AdditionalInfov4</p>
<br />
<p>@Shared.AdditionalInfov5</p>
