@using ISBD_project.Resources
@model ISBD_project.Models.Account

@{
    ViewBag.Title = "Edit";
}

<h2>@Shared.Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Shared.Account</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idA)

        <div class="form-group">
            <div class="col-md-2 control-label">@Shared.Username</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.loginA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.loginA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">@Shared.Password</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.passwordA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.passwordA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">@Shared.Id</div>
            <div class="col-md-10">
                @Html.DropDownList("idU", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Shared.Accept class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Shared.Back, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
