@using ISBD_project.Resources
@model ISBD_project.Models.Users

@{
    ViewBag.Title = "Delete";
}

<h2>@Shared.Delete</h2>

<h3>@Shared.YouSure</h3>
<div>
    <h4>@Shared.User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="col-md-2 control-label">@Shared.UserAffiliation</dt>

        <dd>
            @Html.DisplayFor(model => model.UserAffiliation.nameUA)
        </dd>

        <dt class="col-md-2 control-label">@Shared.Name</dt>

        <dd>
            @Html.DisplayFor(model => model.nameU)
        </dd>

        <dt class="col-md-2 control-label">@Shared.Surname</dt>

        <dd>
            @Html.DisplayFor(model => model.surnameU)
        </dd>

        <dt class="col-md-2 control-label">@Shared.Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailU)
        </dd>

        <dt class="col-md-2 control-label">@Shared.Age</dt>

        <dd>
            @Html.DisplayFor(model => model.ageU)
        </dd>

        <dt>
            <div class="col-md-2 control-label">@Shared.Gender</div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genderU)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Shared.Delete" class="btn btn-default" /> |
            @Html.ActionLink(@Shared.Back, "Index")
        </div>
    }
</div>
