@using ISBD_project.Resources
@model ISBD_project.Models.Users

@{
    ViewBag.Title = "Details";
}

<h2>@Shared.Details</h2>

<div>
    <h4>@Shared.User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="col-md-2 control-label">@Shared.UserAffiliation</dt>

        <dd>
            @Html.DisplayFor(model => model.UserAffiliation.nameUA)
        </dd>

        <dt class="col-md-2 control-label">@Shared.Name</dt>

        <dd>
            @Html.DisplayFor(model => model.nameU)
        </dd>

        <dt class="col-md-2 control-label">@Shared.Surname</dt>

        <dd>
            @Html.DisplayFor(model => model.surnameU)
        </dd>

        <dt class="col-md-2 control-label">
            @Shared.Email
    </dt>

    <dd>
        @Html.DisplayFor(model => model.emailU)
    </dd>

    <dt class="col-md-2 control-label">@Shared.Age</dt>

    <dd>
        @Html.DisplayFor(model => model.ageU)
    </dd>

    <dt>
        <div class="col-md-2 control-label">@Shared.Gender</div>
    </dt>

    <dd>
        @Html.DisplayFor(model => model.genderU)
    </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(Shared.Edit, "Edit", new { id = Model.idU }) |
    @Html.ActionLink(@Shared.Back, "Index")
</p>
