@using ISBD_project.Resources
@model ISBD_project.Models.Course

@{
    ViewBag.Title = "Delete";
}

<h2>@Shared.Delete</h2>

<h3>@Shared.YouSure</h3>
<div>
    <h4>@Shared.Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="col-md-2 control-label">@Shared.Language</dt>

        <dd>
            @Html.DisplayFor(model => model.Language.nameL)
        </dd>

        <dt class="col-md-2 control-label">@Shared.Lecturer</dt>

        <dd>
            @Html.DisplayFor(model => model.Users.nameU)
        </dd>

        <dt class="col-md-2 control-label">@Shared.CourseName</dt>

        <dd>
            @Html.DisplayFor(model => model.nameC)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Shared.Delete" class="btn btn-default" /> |
            @Html.ActionLink(@Shared.Back, "Index")
        </div>
    }
</div>
