@using System.Diagnostics.Eventing.Reader
@using ISBD_project.Resources
@using ISBD_project.Session
@model ISBD_project.Models.Course

@{
    ViewBag.Title = "Edit";
}

<h2>@Shared.Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>@Shared.Course</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idC)

    <div class="form-group">
        <div class="col-md-2 control-label">@Shared.CourseName</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.nameC, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nameC, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (SessionMocker.Instance.LoggedUser.Role == "Admin")
    {
        <div class="form-group">
            <div class="col-md-2 control-label">@Shared.Lecturer</div>
            <div class="col-md-10">
                @Html.DropDownList("lecturerC", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lecturerC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">@Shared.Id</div>
            <div class="col-md-10">
                @Html.DropDownList("idL", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idL, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    else
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idL)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.lecturerC)
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Shared.Accept" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink(@Shared.Back, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
