@using ISBD_project.Resources
@using ISBD_project.Session
@model IEnumerable<ISBD_project.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>@Shared.Courses</h2>
    
<p>
    @if (Request.Cookies.Get(Strings.Role)?.Value == "Admin")
    {
        @Html.ActionLink(Shared.Create, "Create")
        <br />
    }
</p>
<p>
    @using (Html.BeginForm("Index", "Courses", FormMethod.Get))
    {
        <b>Search By:</b> @Html.RadioButton("searchBy", "name", true) <text>@Shared.CourseName</text>
        @Html.RadioButton("searchBy", "language") <text>@Shared.Language</text><br />
        @Html.TextBox("search") <input class="btn btn-default" type="submit" value="@Shared.Search &raquo;" />
    }
</p>

<h4>@Shared.All</h4>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(@Shared.CourseName, "Index", new { sortBy = ViewBag.SortNameParam })
        </th>
        <th>
            @Html.ActionLink(@Shared.Language, "Index", new { sortBy = ViewBag.SortLangParam })
        </th>
        <th>
            @Shared.Lecturer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language.nameL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.nameU) @Html.DisplayFor(modelItem => item.Users.surnameU)
        </td>
        <td>
            @if (Request.Cookies[Strings.IsLogged] != null && item.lecturerC == int.Parse(Request.Cookies.Get(Strings.AccountId)?.Value) || Request.Cookies.Get(Strings.Role)?.Value == "Admin")
            {
                @Html.ActionLink(Shared.Edit, "Edit", new { id=item.idC }) @: |
            }
            @Html.ActionLink(Shared.Details, "Details", new { id=item.idC })
            @if (Request.Cookies.Get(Strings.Role)?.Value == "Admin")
            {
                @: | @Html.ActionLink(Shared.Delete, "Delete", new { id = item.idC })
            }
        </td>
    </tr>
}

</table>
