@using ISBD_project.Resources
@model IEnumerable<ISBD_project.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>@Shared.Courses</h2>

<p>
    @Html.ActionLink(Shared.Create, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Shared.CourseName
        </th>
        <th>
            @Shared.Language
        </th>
        <th>
            @Shared.Lecturer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language.nameL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.nameU) @Html.DisplayFor(modelItem => item.Users.surnameU)
        </td>
        <td>
            @Html.ActionLink(Shared.Edit, "Edit", new { id=item.idC }) |
            @Html.ActionLink(Shared.Details, "Details", new { id=item.idC }) |
            @Html.ActionLink(Shared.Delete, "Delete", new { id=item.idC })
        </td>
    </tr>
}

</table>
